body{
    margin: 0;
    padding: 0;
}
nav{
    position: relative;
    background-color: black;
    justify-content: center;
    display: flex;
    color: white;
    padding: 10px;
    gap: 15px;
}
.con h2{
    margin-left: 50px;
}
.con ul {
    display: flex;
    background-color: #00548f;
    padding: 10px 80px 10px 10px;
    margin: 5px 30px 10px 30px;
    gap: 30px;
}
.con ul li{
    list-style: none;
   
}
.con li a{
    color: white;
    text-decoration: none;

}
.contatc{
    position: absolute;
    top: 15px;
    right: 420px;
}
.one {
    border-right: 1px dotted white;
    padding-right: 12px;
    font-size: 20px;
}
.contatc span{
    margin-left: 5px;
    font-size: 20px;
}
.body{
    display: flex;
    background-color: #d7d7d7;
    height: 51vh;
    justify-content: center;
}
.imgone{
    margin-top: 3px;
    
}
.co{
    margin-top: 3px;
    border:  1px solid#00548f;
    background-color:#00548f ;
    padding: 15px;
}
.cr p{
    width: 330px;
    height: 260px;
    overflow: auto;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}